html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title uebungsrahmen
    body
        #content
            div
                label(for="config") Configuration:
                select#config
            hr
            div
                button#start Start
                button#stop Stop

            hr
            #output
                label(for="command") Currently running:
                span#command None
                hr
                #console
