html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title uebungsrahmen
    body
        #content
            #config-container
                #config.controls
            #toggle-container
                #init-toggle Initialize
                #start-toggle Run server
            #init-container
                .heading Initialize working directory
                #init.controls
            #start-container
                .heading Run server
                #start.controls
            #command-container
                .heading Currently running
                #command.controls
            #console-container
                #console
            #question-container.d-none
                #question.controls
                    span#question-text
                    button#question-yes Yes
                    button#question-no No
