html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title uebungsrahmen
    body
        #content
            #config-container
                #config.controls
            #start-container
                #start-toggle.heading Run server
                #start.controls
            #command-container
                .heading Currently running
                #command.controls
            #console-container
                #console
