@import '../../source/style/sizes.css';

body {
    font-family: sans-serif;
    background-color: #222;
    color: #ccc;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}

#content>div:not(#toggle-container) {
    outline: 1px solid #555;
    margin: var(--tiny-spacing);
    border-radius: var(--border-radius);
}

#toggle-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
}

#toggle-container>div {
    outline: 1px solid #555;
    margin: var(--tiny-spacing);
    border-radius: var(--border-radius);
    padding: var(--small-spacing);
}

#command label {
    font-family: monospace;
}

#console-container {
    overflow-y: scroll;
    flex-grow: 1;
    padding: var(--small-spacing);
}

#console {
    height: 100%;
    font-family: monospace;
}

.controls div {
    display: flex;
    align-items: center;
    height: 1.25em;
    padding: var(--small-spacing);
    border-bottom: 1px solid #555;
}

.controls div:last-child {
    border-bottom: none;
}

.controls label {
    padding-right: var(--large-spacing);
    margin-right: auto;
}

.heading {
    padding: var(--small-spacing);
    color: #fff;
    border-bottom: 1px solid #555;
}

.d-none {
    display: none;
}

.triangle-right::before {
    content: '\2BC8\2002';
}

.triangle-down::before {
    content: '\2BC6\2002';
}

#question {
    display: flex;
    align-items: center;
    height: 1.25em;
    padding: var(--small-spacing);
}

#question button {
    margin-left: var(--small-spacing);
}

#question :first-child{
    margin-left: auto;
}
