#controls-container {
    position: absolute;
    top: var(--small-spacing);
    right: var(--small-spacing);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#controls-toggle, #controls {
    background-color: #fffb;
    padding: var(--small-spacing);
    margin: var(--tiny-spacing);
    color: #000;
    border-radius: var(--border-radius);
    user-select: none;
}

#controls-toggle {
    cursor: pointer;
}

#controls {
    width: fit-content;
}

#controls div {
    display: flex;
    align-items: center;
    height: 2em;
}

#controls div:not(:first-child) {
    padding-top: var(--tiny-spacing);
}

#controls label {
    padding-right: var(--large-spacing);
    margin-right: auto;
}

#controls progress {
    margin: var(--tiny-spacing);
}

#controls input, #controls button, #controls select, #controls progress {
    box-sizing: border-box;
    margin-left: var(--small-spacing);
    height: 75%;
}

#controls input, #controls button, #controls progress {
    width: 10ch;
}

#controls select {
    width: 20ch;
}

#controls input[type=checkbox] {
    width: unset;
}

#controls table {
    border-collapse: collapse;
}

#controls td, #controls th {
    padding: var(--tiny-spacing);
    border: var(--outline-thickness) solid black;
}
