#footer-container {
    max-width: var(--content-width);
    margin: var(--spacing) auto 0;
    padding: 0 var(--spacing);
}
#footer {
    border-top: 1px solid var(--outline-color);
    padding: var(--small-spacing) 0;
}

#footer :not(:last-child) {
    margin-right: var(--large-spacing);
}

#footer a {
    white-space: nowrap;
}

#footer a::after {
    content: '\200b';
}
