#navbar-container, #navbar-navigation {
    position: fixed;
    width: 100%;
}

#navbar-container {
    /* ensure navbar is placed over canvas */
    z-index: 1;
    top: 0;
    height: var(--navbar-height);
    background-color: var(--navbar-background-color);
    color: var(--navbar-text-color);
}

#navbar {
    height: 100%;
    margin: auto;
    max-width: var(--content-width);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#navbar a {
    color: var(--navbar-text-color);
    text-decoration: none;
}

#navbar a:visited {
    color: var(--navbar-text-color);
}


#navbar-toggle {
    margin-left: auto;
    cursor: pointer;
    user-select: none;
    background-color: var(--navbar-nav-background-color);
    padding: var(--small-spacing);
    border-radius: var(--border-radius);
}

#navbar-navigation {
    top: var(--navbar-height);
    background-color: var(--navbar-nav-background-color);
    color: var(--navbar-nav-text-color);
}

#navbar-navigation>div {
    margin: var(--spacing) auto;
    max-width: var(--content-width);
}

#navbar-navigation h2 {
    margin-top: 0;
    margin-bottom: var(--small-spacing);
}

#navbar-navigation p {
    margin: var(--small-spacing) 0;
}
