@import '~katex/dist/katex.min.css';
@import 'theme_css';
@import './themes.css';
@import './navbar.css';
@import './link.css';

:root {
    --navbar-height: 2em;
    --content-width: 70em;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

#main-container {
    margin: auto;
    padding-top: var(--navbar-height);
    max-width: var(--content-width);
}

#content {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10ch, 40ch));
    grid-gap: 10px;
}

.d-none {
    display: none;
}

.hljs {
    padding: 1em;
    width: min-content;
}
