@import '~katex/dist/katex.min.css';
@import '~highlight.js/styles/vs.css';

body {
    font-family: monospace;
}

canvas {
    width: 64vw;
    height: 36vw;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10ch, 40ch));
    grid-gap: 10px;
}

.d-none {
    display: none;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    background-color: lightgrey;
}

#navbar-toggle {
    outline: 1px solid black;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
}
