.dark {
    --background-color: #222;
    --text-color: #eee;
    --inline-code-color: #feb;
    --link-color: #6ae;
    --visited-link-color: #6ae;
    --navbar-background-color: #666;
    --navbar-text-color: #eee;
    --navbar-nav-background-color: #444;
    --navbar-nav-text-color: #eee;
    --outline-color: #666;
}

.light {
    --background-color: #eee;
    --text-color: #111;
    --inline-code-color: #932;
    --link-color: #37b;
    --visited-link-color: #37b;
    --navbar-background-color: #aaa;
    --navbar-text-color: #111;
    --navbar-nav-background-color: #ccc;
    --navbar-nav-text-color: #111;
    --outline-color: #aaa;
}
