html
    head
        title= exercise.name
        link(rel="stylesheet", href="https://code.cdn.mozilla.net/fonts/fira.css")
    body(class=config.theme)
        include partials/navbar
        div#main-container
            h2
                =exercise.assignment.name 
                |  &ndash; 
                =exercise.name
            block content
                div#content-container
                    canvas#content
                    include partials/controls.pug
            block assignment
        include partials/footer
