html
    head
        title= exercise.name
    body.dark-theme
        div#navbar-container
            include partials/navbar
        div#main-container
            p
                =exercise.assignment.name 
                |  &ndash; 
                =exercise.name
            block content
                canvas#content
            block assignment
