html
    head
        title= exercise.name
    body
        include partials/navbar
        p
            =exercise.assignment.name 
            |  &ndash; 
            =exercise.name
        block content
            canvas#content
        block assignment
