include partials/assignment

html
    head
        title= config.lecture
    body 
        h1= config.lecture
        div.d-grid
            - for(const a of assignments)
                +assignment(a, true)
