include partials/assignment

html
    head
        title= config.lecture
        link(rel="stylesheet", href="https://code.cdn.mozilla.net/fonts/fira.css")
    body(class=config.theme)
        include partials/navbar
        div#main-container
            h1= config.lecture
            div.d-grid
                each a in assignments
                    +assignment(a, true)
        include partials/footer
