extends /exercise.pug

//- this is an example exercise page.
//- it could redefine the content block to replace the canvas

//- note regarding markdown: ! must be added before = to avoid escaping
block assignment
    !=require("./assignment.md")
