extends /exercise.pug

//- this is an example exercise page.
//- it redefines the content block to replace the canvas
block content
    div hello from the content block

//- note regarding markdown: ! must be added before = to avoid escaping
block assignment
    div hello world from the assignment block
