mixin assignment(assignment, showDescription)
    div.assignment
        h2= assignment.name
        each e, index in assignment.exercises
            p
                a(href=`${e.id}.html`)= `${index+1}. ${e.name}`
                - if(showDescription)
                    br
                    =e.description
