div#footer
    span Useful links:
    a(href="https://webgl-operate.org/about.html") WebGL system info
    a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API") WebGL reference
    a(href="https://www.khronos.org/registry/OpenGL-Refpages/es3.0/html/") GLSL ES 3.0 reference
    a(href="https://webgl-operate.org/doc/") webgl-operate reference
    a(href="https://github.com/cginternals/webgl-operate") webgl-operate source code
    br
    span Specifications:
    a(href="https://www.khronos.org/registry/webgl/specs/latest/1.0/") WebGL 1.0 spec
    a(href="https://www.khronos.org/registry/webgl/specs/latest/2.0/") WebGL 2.0 spec
    a(href="https://www.khronos.org/registry/OpenGL/specs/es/3.0/es_spec_3.0.pdf") OpenGL ES 3.0 spec
    a(href="https://www.khronos.org/registry/OpenGL/specs/es/3.0/GLSL_ES_Specification_3.00.pdf") GLSL ES 3.0 spec
