include assignment

div#navbar
    a(href='/')= config.lecture
    div#navbar-toggle Aufgaben
div#navbar-navigation.d-none
    div.d-grid
        - for(const a of assignments)
            +assignment(a, false)
