include assignment

div#navbar-container
    div#navbar
        a(href='/')= config.lecture
        div#navbar-toggle Navigation
    div#navbar-navigation.d-none
        div.d-grid
            - for(const a of assignments)
                +assignment(a, false)
